@model Model.HardwareDeSalaModel

@{
    ViewData["Title"] = "Create";
}


<h2>Adicionar Novo Hardware de Sala</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MAC" class="control-label"></label>
                <input asp-for="MAC" class="form-control" />
                <span asp-validation-for="MAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SalaId, ViewBag.salas as SelectList, new
                { @class = "form-control"})
                <span asp-validation-for="SalaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoHardwareId" class="control-label"></label>
                @Html.DropDownListFor(model => model.TipoHardwareId, ViewBag.tipoHardware as SelectList, new
                { @class = "form-control"})
                <span asp-validation-for="TipoHardwareId" class="text-danger"></span>
            </div>

            @if (TempData["aviso"] != null)
            {
                <div class="field-error" id="error-div" style="color: red">
                    @TempData["aviso"]
                </div>
                <br />
            }

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" /> |
                <a class="btn btn-primary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
