@using Model.ViewModel
@model AlterarSenhaViewModel

@{
    ViewData["Title"] = "Alterar Senha";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Alterar Senha</h2>
                    </div>
                    <form asp-action="EditPassword">
                        <div class="card-body">
                            <input type="hidden" asp-for="UsuarioId" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="SenhaAtual" class="control-label"></label>
                                <div class="input-group">
                                    <input asp-for="SenhaAtual" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="SenhaAtual" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NovaSenha" class="control-label"></label>
                                <div class="input-group">
                                    <input asp-for="NovaSenha" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-key"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="NovaSenha" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmarNovaSenha" class="control-label"></label>
                                <div class="input-group">
                                    <input asp-for="ConfirmarNovaSenha" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-key"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="ConfirmarNovaSenha" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="card-footer">
                            <input type="submit" value="Alterar Senha" class="btn btn-success" />
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlertRedirectIndex('success','Parabéns!', '@TempData["mensagemSucesso"]','/Home/Index')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('warning','Falha!', '@TempData["mensagemErro"]')"></div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            if (document.querySelector('#mensagem-retorno'))
                document.getElementById("mensagem-retorno").click();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/sweet-alert.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}