@model Model.HardwareDeBlocoModel

@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Cadastrar Novo Hardware de Bloco</h2>
                    </div>
                    <form asp-action="Create">
                        <div class="card-body">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="MAC" class="control-label"></label>
                                <input asp-for="MAC" class="form-control" id="input-mac" required="required" />
                                <span asp-validation-for="MAC" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BlocoId" class="control-label"></label>
                                @Html.DropDownListFor(model => model.BlocoId, ViewBag.blocos as SelectList, new
                                { @class = "form-control" })
                                <span asp-validation-for="BlocoId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TipoHardwareId" class="control-label"></label>
                                @Html.DropDownListFor(model => model.TipoHardwareId, ViewBag.tipoHardware as SelectList, new
                                { @class = "form-control" })
                                <span asp-validation-for="TipoHardwareId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="col-md-4">
                                <input type="submit" id="btn-create-planejamento" value="Salvar" class="btn btn-success" /> |
                                <a class="btn btn-primary" asp-action="Index">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('success','Parabéns!', '@TempData["mensagemSucesso"]')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('warning','Falha!', '@TempData["mensagemErro"]')"></div>
}

@section Scripts {

    <script>
        $(document).ready(function () {
            if (document.querySelector('#mensagem-retorno'))
                document.getElementById("mensagem-retorno").click();

            $('#input-mac').inputmask("**:**:**:**:**:**");
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/sweet-alert.js"></script>
    <script src="~/plugins/inputmask/min/inputmask/inputmask.min.js"></script>
    <script src="~/plugins/inputmask/min/inputmask/jquery.inputmask.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
