@page "/Account/AccessDenied"
@model SalasWeb.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Acesso negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você não tem permissão para acessar este recurso.</p>
</header>