@page "/Account/Logout"
@model SalasWeb.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Você foi desconectado da aplicação.</p>
</header>