/***** custom css *****/
.element-center {
    margin: auto !important;
}

.transparent-background {
    background: none;
    border: none;
}

.invalid-msg {
    font-style: italic;
    font-size: 0.8em;
    position: relative;
    top: -10px;
    margin-left: 5px;
}