name: AutomacaoSalas-API CI

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    environment:
      name: PROD

    env:
      work-directory: Codigo/ModuloDeSoftware/WebAPI/WebAPI

    steps:
    - name: Execute checkout in repository
      uses: actions/checkout@v2
    
    - name: Configure .NET version
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1

    - name: Replace variables
      uses: microsoft/variable-substitution@v1
      with:
        files: '${{env.work-directory}}/appsettings.json'
      env:
        ConnectionStrings.MySqlConnection: ${{secrets.CONNECTION_STRING}}

    - name: Restore dependencies
      run: |
        cd ${{env.work-directory}}
        dotnet restore
  
    - name: Build Application
      run: |
        cd ${{env.work-directory}}
        dotnet build --no-restore
      
    - name: Publish Application
      run: |
        cd ${{env.work-directory}}
        dotnet publish -c --configuration Release --no-restore --output ./publishAPI 
      
#    - name: Upload via FTP
#      uses: SamKirkland/FTP-Deploy-Action@4.3.3
#      with:
#        server: ${{ secrets.FTP_SERVER }}
#        username: ${{ secrets.FTP_USER }}
#        password: ${{ secrets.FTP_PASS }}
#        local-dir: '${{env.work-directory}}/publishAPI/'
#        remote-dir: ./
#        exclude: |
#          **/.git*
#          **/.git*/**
#          **/AnaliseProjeto