@model Model.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Index";
}

<p class="login-box-msg">Login do Sistema</p>

<form asp-controller="login" asp-action="Authenticate">
    <div class="input-group mb-3">
        <input asp-for="Login" class="form-control" placeholder="Login"/>
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input asp-for="Senha" type="password" class="form-control" placeholder="Senha"/>
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="icheck-primary">
                <input type="checkbox" id="show_pass">
                <label for="show_pass">
                    Mostrar Senha
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
            <input type="submit" value="Entrar" class="btn btn-primary btn-block" />
        </div>
        <!-- /.col -->
    </div>
</form>
<hr />
<p class="mb-1">
    <a href="forgot-password.html">Esqueceu a senha?</a>
</p>
<p class="mb-0">
    <a asp-action="Create" asp-controller="usuario" class="text-center">Criar usuário</a>
</p>


